* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#000, #101010);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('cof.webp');
    width: 90%;
    height: 640px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent), url('cof.webp');
}

a {
    color: #f5a623;
    text-decoration: none;
}

nav {
    width: 100%;
    margin-bottom: auto;
    text-align: center;
}

ul {
    list-style: none;
    display: inline-flex;
    gap: 2rem;
}

ul a {
    border-bottom: 2px solid transparent;
    color: #f5a623;
    font-size: 1.1rem;
    font-weight: bold;
}

ul a:hover {
    border-bottom-color:#f5a623;
}

